<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>ControllerActionBundling</title>
	<script src="@System.Web.Optimization.Scripts.Url("~/scripts")"></script>
</head>
	<body>
		@RenderBody()
	</body>
</html>